body { 
	font: 16px Helvetica, Arial;
	margin:0px;
	padding:0px;
}

.marked {
	color:#FFF;
	position: absolute;
	background-color:purple;
	opacity: 0.4;
}

#ocr_image {
	background-image: url(img/Seite_Tagebuch_H_C_Lang_08.jpg);
	width:1600px;
	height:2495px;
}

#marked_words {
	font-family:monospace;
	border:0.2em solid #333;
}

.selected_words {
	background-color:#EDEDED;
	margin:0.2em;
	padding:0.2em;
}

